{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Produit 
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="jumbotron">
                    <h1>{{produit.nom}}</h1>
                    <p>
                        {{produit.descLong}}
                    </p>
                    <p>
                        {{produit.prix|floatformat}}€
                    </p>
                </div>
                <div>
                    <form action="{% url 'detailProduit' id=produit.id %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-success" value="Ajouter" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}