{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Produits
{% endblock %}

{% block content %}

    <div class="row">
        <div id="filtres" class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <h4>
                Catégories
            </h4>
            <hr>
        </div>
        <div id="produits" class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <div class="row">
                {% for produit in produits %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="{% url 'detailProduit' id=produit.id %}">
                            <div class="card">
                                {% if produit.image %}
                                    <div class="card_img imgJarvis" style="background-image: url({{ produit.image.url }});">
                                    </div>
                                {% endif %}
                                <div class="card_content">
                                    <div class="card_title">
                                        <h4>
                                            {{ produit.nom }}
                                        </h4>
                                        <hr>
                                    </div>                        
                                    <div class="card_text">
                                        <p>
                                            {{ produit.descCourte }}
                                        </p>
                                        <div class="card_actions">
                                            <a href="{% url 'addProductPanier' id=produit.id %}" class="btn btn-primary">
                                                Ajouter
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card_footer">
                                    <ul>
                                        <li>
                                            <span class=" glyphicon glyphicon-tags"></span>
                                            {{produit.prix|floatformat}}€
                                        </li>
                                        {% if produit.commentaires.count > 0 %}
                                            <li>
                                                <span class=" glyphicon glyphicon-comment"></span>
                                                {{ produit.commentaires.count }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                        </a> 
                    </div>               
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="step-links">
                        <a {% if produits.has_previous %} href="?page={{ produits.previous_page_number }}" {% else %} href="#" class="desactive" {% endif %}><</a>
                                
                        <span class="current">
                            Page {{ produits.number }} / {{ produits.paginator.num_pages }}.
                        </span>
                
                        <a {% if produits.has_next %} href="?page={{ produits.next_page_number }}" {% else %} href="#" class="desactive" {% endif %}>></a>
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}