{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Mentions légales
                </h1>
                <div>
                    <p>
                        Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet sont : 
                    </p>
                    <p>
                        <b>Adresse de la société :</b>
                        <ul style="list-style : none;">
                            <li>
                                Jarvis 
                            </li>
                            <li>
                                4 boulevard Lavoisier
                            </li>
                            <li>
                                    49000 Angers
                            </li>
                        </ul> 
                        Numéros de SIRET : En attente <br />
                        Responsable éditorial : ...... <br />
                        Adresse mail : .....
                    </p>
                    <p>
                        <b>
                            Developpeurs :
                        </b>
                        <ul>
                            <li>
                                Pierre-Olivier MAINFROID    
                            </li>
                            <li>
                                Pierre GRANIER--RICHARD
                            </li>
                            <li>
                                Alice BAZANTE
                            </li>
                        </ul> 
                    </p>
                    <p>
                        <b>
                            Hebergement :
                        </b>
                        <ul style="list-style : none;">
                            <li>
                                OVH 
                            </li>
                            <li>
                                2 rue Kellermann
                            </li>
                            <li>
                                59100 Roubaix - France 
                            </li>
                            <li>
                                Site Web : 
                                <a href="https://www.ovh.com/">
                                    https://www.ovh.com/
                                </a>
                            </li>
                        </ul> 
                    </p>
                    <p>
                        <b>
                            Cookies :
                        </b>
                        <br />
                        Ce site utilise des cookies pour des besoins de statistiques et d'affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies. 
                    </p>
                    <p>
                        <b>
                            Conditions d'utilisation :
                        </b>
                        <br />
                        Ce site est proposé avec des technologies modernes. Ainsi, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Google Chrome. 
                    </p>
                    <p>
                        <b>
                            Limitation contractuelles sur les données  :
                        </b>
                        <br />
                        Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, en passant par le formulaire de contact, en décrivant le problème de la manière la plus précise possible (page posant problème, type d’ordinateur et navigateur utilisé, …). 
                    </p>
                    <p>
                        <b>
                            Propriété intellectuelle :
                        </b>
                        <br />
                        Tout le contenu du présent sur ce site, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans notre accord et sera sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre. 
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                    <h1 class="text-center">
                        Mentions relatives à la protection du consommateur
                    </h1>
                    <div>
                        <ul>
                            <li>
                                Prix : euros.
                            </li>
                            <li>
                                Livraison : 30 jours maximum.
                            </li>
                            <li>
                                Rétractation : 7 jours ouvrés
                            </li>
                        </ul> 
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}